name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: olafurpg/setup-scala@v12
        with:
          java-version: zulu@1.8
      - uses: coursier/cache-action@v6
      - name: Start up Postgres
        run: docker-compose up -d
      - name: Run tests
        run: csbt +test
      - name: Shut down Postgres
        run: docker-compose down
      - run: sbt +publishM2
      - uses: actions/upload-artifact@v2
        with:
          name: repository
          path: ~/.m2/repository

